<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!--     from cayek.github.io -->
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://cayek.github.io/css/site.css" type="text/css" /> -->
    <link rel="stylesheet" href= "{{ "/site.css" | prepend: site.baseurl }}" type="text/css" />

    <!--     MahtJax -->
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

    <!--     Google analytics -->
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
     
     ga('create', 'UA-88209726-1', 'auto');
     ga('send', 'pageview');
    </script>

    <!--     from cayek.github.io -->
    <script src="https://cayek.github.io/site_libs/jquery-1.11.3/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- tabsets -->
    <script src="https://cayek.github.io/site_libs/navigation-1.1/tabsets.js"></script>
    <script>
     $(document).ready(function () {
         window.buildTabsets("TOC");
     });
    </script>
    
    <script type="text/javascript" src="https://cayek.github.io/js/rmarkdown.js"></script>
</head>
